html,body {
	padding: 0;
	margin: 0;
}

.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.container {
	width: 970px;
	margin: 0 auto;

}

.header-googlemail { background: url("../image/googlemail.png") no-repeat top right; }
.header-linkinid { background: url("../image/linkinid.png") no-repeat top right; }
.header-fb { background: url("../image/fb.png") no-repeat top right; }
.header-twitter { background: url("../image/twitter.png") no-repeat top right; }
.basic-image { background: url("../image/basic-image.jpg") no-repeat center; }
.product-submit{ text-align: center;}
.header-menu { background-color: black;}
.header-submenu:hover > ul { display: block; }

.header-bg {
	background: -webkit-linear-gradient(to right, #efefee, #cccac9);
	background: -o-linear-gradient(to right, #efefee, #cccac9);
	background: linear-gradient(to right, #efefee, #cccac9);
	height: 55px;
}

.header-shadow{
	background: url("../image/shadow.png") no-repeat center;
	height: 1080px;
	position: absolute;
	top: 0;
}

.header-logo {
	width: 50%;
    float: left;
    background: url("../image/logo.png") bottom left no-repeat;
    height: 55px;
}

.header-social {
	float: right;
	padding: 10px 10px;
}

.header-social a {
  	float: right;
 	height: 35px;
	width: 40px;
	-webkit-transition: all 1s easy-out;
	-o-transition: all 1s easy-out;
	transition: all 1s easy-out;
}

.header-social a:hover {
 -webkit-transform: scale(1.1);
 -moz-transform: scale(1.1);
 -o-transform: scale(1.1);
}

.header-menu ul{
	float: left;
	list-style-type: none;
	padding: 0;
}

.header-menu a {
	color: white;
	text-decoration: none;
}

 .menu-line {
	background: url("../image/menu-line.png");
	height: 4px;
}


.header-menu li{
    float:left;
    position:relative;
    display:block;
}

.header-menu li a{
    display:block;
    padding: 5px 15px;
	color: white;
    text-decoration:none;
    text-shadow:1px 1px 1px rgba(0,0,0,0.75); /* Тень текста, чтобы приподнять его на немного */
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:2px;
}


.header-menu li a:hover{
    color: gray;
	text-decoration:underline;
}


.header-menu ul li{
    padding-top:1px; /* Вводим отступ между li чтобы создать иллюзию разделенных пунктов меню */
    float:none;
}

.header-menu li:hover ul{ /* Выводим выпадающий пункт при наведении курсора */
    left:0; /* Приносим его обратно на экран, когда нужно */
    opacity:1; /* Делаем непрозрачным */
}

.header-menu li:hover a{ /* Устанавливаем стили для верхнего уровня, когда выводится выпадающий список */
 /* Выглядит полупрозрачным */
    text-decoration:underline;
}

.header-menu li:hover ul a{ /* Изменяем некоторые стили верхнего уровня при выводе выпадающего пункта */
    text-decoration:none;
    -webkit-transition:-webkit-transform 0.075s linear;
}

.header-menu li:hover ul li a:hover{ 
    text-decoration:underline;
    -moz-transform:scale(1.05);
    -webkit-transform:scale(1.05);
}

.header-menu ul li{
    padding-top:1px; /* Вводим отступ между li чтобы создать иллюзию разделенных пунктов меню */
    float: left;
}

.header-menu li:hover ul{ /* Выводим выпадающий пункт при наведении курсора */
    left:0; /* Приносим его обратно на экран, когда нужно */
    opacity:1; /* Делаем непрозрачным */
    z-index: 1;
}


.header-submenu ul {
	position: absolute;
	display: none;
	background: black;
}
.header-submenu ul li {
	display: inline-block;
	position: relative;
	float: none;
}
.header-submenu:hover > ul { display: block; }

.header-submenu > a:after {
	content: "";
	background: url("../image/flag.png") no-repeat;
	height: 12px;
	width: 12px;
	display: inline-block;
	position: absolute;
    top: 12px;
    margin-left: 5px;
}

.header-submenu:hover > a:after{
	content: "";
	background: url("../image/flag.png") no-repeat;
	height: 12px;
	width: 12px;
	display: inline-block;
	transform:rotate(180deg);
	position: absolute;
    top: 8px;
    margin-left: 2px;
}

.header-submenu ul {
	padding-right: 0;
	text-align: center;
}



.to_top {
	top: 0;
	position: fixed;
	width: 100%;
	z-index: 1;
}

.bxslider {
	text-decoration: none;
	list-style-type: none;
}

.basic-image {
	margin: 0 0px;
	padding-top: 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.bxslider-basic-image {
	background: url("../image/basic-slide.png") no-repeat center;
	height: 185px;
    background-size: cover;
}

.bxs-image-right{
	margin: 0 auto;
}

.bxslider-content img{
	float: left;
    max-height: 150px;
    margin: 0px auto;
    padding: 15px;
    opacity: 0.8;
}

.wrap-video{
	margin: 50px 0;
}

.blocks-products{
	width: 100%;
}

.product-block{
	margin-right: 1%;
	margin-left: 1%;
	width: 47%;
    background: rgba(255,255,255,0.8);
    border-radius: 5px;
    border: 1px solid gray;
}

.product-info{
	width: 60%;
	float: left;
	padding: 15px;
	font-size: 25px;
	color: rgba(33,33,33,0.8);
}

.block-left{ float: left;}
.product-title{ text-align: left; }
.product-os {
	padding: 5px 0;
    border-bottom: 2px solid gray;
    text-align: justify;
}
.product-price {
    padding: 5px 0;
    text-align: right;
}
.blocks-products img{
	max-width: 24%;
    float: left;
    max-height: 150px;
    padding: 15px;
}
.product-hide {display: none;}
.product-hide div{
	border-bottom: 2px solid gray;
}

.footer {
	background: #454f54; /* Old browsers */
    background: -webkit-linear-gradient(left, #454f54 0%, #4e3b39 48%, #4e3b39 51%, #4b4a3e 100%);
    background: -o-linear-gradient(left, #454f54 0%, #4e3b39 48%, #4e3b39 51%, #4b4a3e 100%);
    background: linear-gradient(to right, #454f54 0%, #4e3b39 48%, #4e3b39 51%, #4b4a3e 100%); /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */ /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#454f54', endColorstr='#4b4a3e',GradientType=1 );
	-webkit-box-shadow: inset -28px -33px 139px 60px rgba(0,0,0,0.21);
 	-moz-box-shadow: inset -28px -33px 139px 60px rgba(0,0,0,0.21);
	box-shadow: inset -28px -33px 139px 60px rgba(0,0,0,0.21);
	text-align: center;
}

.product-btn {
	-webkit-box-shadow: inset -28px -33px 139px 60px rgba(0,0,0,0.21);
    -moz-box-shadow: inset -28px -33px 139px 60px rgba(0,0,0,0.21);
    box-shadow: inset -28px -33px 139px 60px rgba(0,0,0,0.21);
    background: #19b3d8;
    border: none;
    box-shadow: 1px 0px rgba(0,0,0,0.4);
    height: 35px;
    width: 120px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}
.product-btn:hover {
    border: 1px solid gray;
    text-decoration: underline;
}
.footer-menu{
	display: inline-block;
    padding: 20px;
}


.footer-block {
	float: left;
	padding: 0 15px;
	border-right: 1px solid white;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.footer-block:first-child {
	border-left: 1px solid white;
}
.footer-block a {
	font-size: 17px;
	text-decoration: none;
	color: white;
}

.footer-block a:hover {
	color: gray;
	text-decoration: underline;
}

@media screen and (max-width: 1080px) {
	.product-block {
		width: 100%;
	   	background: rgba(255,255,255,0.8);
	   	border-radius: 5px;
	   	border: 1px solid gray;
	   	margin: 15px 0;
	}

	.header-submenu ul li {
	    display: block;
	    position: relative;
	    float: none;
	}
}

@media screen and (min-width: 1000px) {
	.header-menu .container > ul {
		display: block !important;
	}
}

@media screen and (max-width: 1000px) {
.header-menu li { width: 100%; }

.container {
	width: 80%;
}

.header-menu li a {
	padding: 5px 0px;
	width: 100%;
}
.header-menu li:hover ul {
    left: 190px;
    opacity: 1;
    z-index: 1;
    top: 0px;
    border: 1px solid gray;
}
.header-menu ul{
		float: none;
    	display: none;
    	z-index: 2;
    	background: black;
    	position: absolute;
    	top: 40px;
    	left: 0px;
    	width: 200px;
	}
	.header-menu {
		background: url("../image/icons-menu.png") no-repeat center;
    	height: 4%;
    	width: 4%;
    	background-color: black;
    	padding: 12px 12px;
    	/* margin-left: 0px; */
    	position: absolute;
    	top: 0;
    	/* left: 10px; */
    	position: fixed;
    	z-index: 10;
    	cursor: pointer;
	}
	.header-submenu { float: left; }

}

@media screen and (max-width: 720px){
	.header-menu ul{
		float: none;
    	display: none;
    	z-index: 2;
    	background: black;
    	position: absolute;
    	top: 40px;
    	left: 0px;
    	width: 200px;
	}
	.header-menu {
		background: url("../image/icons-menu.png") no-repeat center;
    	height: 4%;
    	width: 4%;
    	background-color: black;
    	padding: 12px 12px;
    	/* margin-left: 0px; */
    	position: absolute;
    	top: 0;
    	/* left: 10px; */
    	position: fixed;
    	z-index: 10;
    	cursor: pointer;
	}
	.header-submenu { float: left; }
}